* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-principal: rgb (0, 200, 255)

    main {
        padding-top: 15vh;
        h3 {
            color: black;
            font-size: x-large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h4 {
            color: black;
            font-size: small;
            text-align: justify;
        }
        .parrafo-salidas {
            color: black;
            text-align: justify;
            font-size: medium;
        }
        
    }




@import "./components/header"
@import "./components/footer"

