header {
    
    background-color: $color-principal;
    height: 14vh;
    color: white;
    font-size: x-large;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 2%;
    h1 {
        font-size: large;
        text-decoration: none;
    }
    ul {
        li {
            font-size: medium;
        }
    }
}
